<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="posts-and-tags.ZPM">
    <Module>
      <Name>posts-and-tags</Name>
      <Version>0.1.2</Version>
	    <Description>Developer Community posts and tags</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="community.PKG" Directory="cls"/>
      <Resource Name="Community.TagD.GBL"/>

		  <Invokes>
        <Invoke Class="community.deploy" Method="run">
        </Invoke>
      </Invokes>
    </Module>
  </Document>
</Export>
